/node_modules
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/database/database.sqlite
muninn.sqlite
builds
muninn-data/agents/*
muninn-data/events/*
muninn-data/agent-status.json
!muninn-data/events/.gitkeep
!muninn-data/events/processing/.gitkeep
!muninn-data/agents/.gitkeep